# This is an environment configuration template.
# To use it, copy this file, rename it to '.env', and replace the placeholders with your actual keys.

# 1. FastAPI Config
PORT=8080
HOST=0.0.0.0
DEBUG=True

# 2. Supabase Connection
SUPABASE_URL=https://your-supabase-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_ANON_KEY=your-supabase-anon-key

# 3. VectorDB
CHROMA_HOST=localhost
CHROMA_PORT=8000

# 4. LLM API Keys
# 4.1. Gemini api key
GEMINI_API_KEY=your-gemini-api-key
GEMINI_API_KEY_2=your-gemini-api-key-2
GEMINI_API_KEY_3=your-gemini-api-key-3
GEMINI_API_KEY_4=your-gemini-api-key-4
GEMINI_API_KEY_5=your-gemini-api-key-5
GEMINI_API_KEY_6=your-gemini-api-key-6
GEMINI_API_KEY_7=your-gemini-api-key-7
GEMINI_API_KEY_8=your-gemini-api-key-8

# 4.2. Groq api key
GROQ_API_KEY=your-groq-api-key
GROQ_API_KEY_2=your-groq-api-key-2
GROQ_API_KEY_3=your-groq-api-key-3
GROQ_API_KEY_4=your-groq-api-key-4
GROQ_API_KEY_5=your-groq-api-key-5
GROQ_API_KEY_6=your-groq-api-key-6
GROQ_API_KEY_7=your-groq-api-key-7
GROQ_API_KEY_8=your-groq-api-key-8

# 4.3. Openrouter api key
OPENROUTER_API_KEY=your-openrouter-api-key

# 5. Vector Database Config
VECTOR_DB_DIR=../database/chroma_db